<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="LOG_HOME" value="logs" />
	<property name="LOG_FILE_NAME" value="/chanchan.log" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%date{dd/MM/yyyy HH:mm:ss.SSS} - [%p] - %c - %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/${LOG_FILE_NAME}</file>
		<encoder>
			<pattern>%date %-5level [%thread] - [%logger] - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>